# Used for evaluation and some common for train too
numpy~=1.22.3
pyext>=0.7
sacrebleu~=1.5.0
sacremoses~=0.0.49
tensorflow # requires tensorflow 2.0 or above for transformers
torch>=1.7
git+https://github.com/huggingface/transformers.git@main#egg=transformers
psutil~=5.9.0

# Used during training
deepspeed>=0.4.0
tensorboardX>=2.2

tqdm~=4.62.3
datasets~=2.0.0